
/************************
Designed by : http://nankoutang.com
************************/
/* Fonts #0068b7/#e84c3d */

/* Basic CSS starts */
body {
	padding-top: 0px;
	font-size: 14px;
	font-family: Arial, 微软雅黑, Verdana, Geneva, Tahoma, 宋体, 'Open Sans',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #E9EAEC;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, 微软雅黑, Verdana, Geneva, Tahoma, 宋体, 'Open Sans',
		sans-serif;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
}

/** 标题栏大标题 */
.navbar-default {
	border-top: 3px solid #fff;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	color: #3F3D3D;
	font-size: 20px;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #3F3D3D;
	font-size: 16px;
	font-weight: bold;
}

.sildepanel {
	width: 100%;
	margin-top: 0px;
}

.toppanel {
	border: 0px solid #e84c3d;
	min-height: 100px;
	text-align: center;
}

.ad-panel {
	border: 0px solid #e84c3d;
	background: #fff;
	margin-bottom: 15px;
}

.notice-panel {
	border: 0px solid #e84c3d;
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}

.notice-panel-title {
	border: 0px solid #e84c3d;
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
	font-weight: bold;
	background: #F7F8FA;
	font-size: 15px;
}

.index-top-left {
	border: 0px solid #e84c3d;
	background: #fff;
	padding: 15px;
	min-height: 375px;
}

.mainpanel {
	margin-top: 15px;
}

.orgmake {
	border: 0px solid #e84c3d;
	background: #fff;
	margin-bottom: 15px;
	padding: 15px;
}

.model-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.list-unstyled li {
	margin-top: 15px;
}

img {
	width: 100%;
}

.event-panel {
	border: 0px solid #e84c3d;
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}

.event-title {
	font-size: 18px;
    font-weight: 600;
}

.event-time {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #aaaaaa;
}

.event-memo {
	margin-top: 15px;
	color: #666666;
}

.event-more {
	color: #aaaaaa;
	font-size: 14px;
	float: right;
}

.thumbnail {
    border: 0px solid #ddd;
    margin-bottom: 0px;
}

.subfooter {
	margin-top: 20px;
	width: 100%;
	min-height: 200px;
	color: #747f8c;
	text-align: center;
	padding: 30px 0;
	background-color: #262626;
	border-top: 1px solid #3a3a3a;
	border-bottom: 1px solid #333333;
}
