
/************************
Designed by : http://nankoutang.com
************************/
/* Fonts #0068b7/#e84c3d */

/* Basic CSS starts background: #F9F9F9; */
body {
	padding-top: 0px;
	font-size: 14px;
	font-family: Arial, 微软雅黑, Verdana, Geneva, Tahoma, 宋体, 'Open Sans',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fff url(../images/bg02.gif);
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, 微软雅黑, Verdana, Geneva, Tahoma, 宋体, 'Open Sans',
		sans-serif;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
}

.a:hover {
  color: #2196F3;
}

/** 标题栏大标题 */
.navbar-default {
	border-top: 2px solid #f22a22;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 21px;
	padding-top: 25px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
	padding-top: 25px;
	padding-bottom: 20px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
	color: #f22a22;
	background-color: #211D21;
	border-bottom: 3px solid #f22a22;
}

.navbar {
    min-height: 70px;
}

.navbar-default {
    background-color: #211D21;
    border-color: #211D21;
}

.navbar-toggle {
    margin-top: 28px;
}

.sildepanel {
	width: 100%;
	margin-top: 0px;
}

.toppanel {
	border: 0px solid #e84c3d;
	min-height: 100px;
	text-align: center;
}

.ad-panel {
	border: 0px solid #e84c3d;
	background: #fff;
	margin-bottom: 15px;
}

.ad-panel img {
  width: 100%;
}

.event-panel-title {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  background: #fff;
  font-size: 16px;
  color: #F22A22;
}

.notice-panel {
	border: 0px solid #e84c3d;
	background: #FFF;
	padding: 15px;
	margin-bottom: 15px;
}

.notice-panel-title {
	border-left: 4px solid #e84c3d;
	background: #fff;
	font-weight: bold;
	font-size: 15px;
	color: #e84c3d;
	margin-bottom: 15px;
	padding: 10px;
}

.index-top-left {
	border: 0px solid #e84c3d;
	background: #fff;
	padding: 15px;
	min-height: 375px;
}

.mainpanel {
	margin-top: 15px;
}

.orgmake {
	border: 0px solid #e84c3d;
	background: #fff;
	margin-bottom: 15px;
	margin-left: -4px;
	margin-right: -4px;
}

.model-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.list-unstyled li {
	margin-top: 15px;
}

.event-panel {
	background: #fff;
	padding: 20px 15px;
	margin-bottom: 10px;
}

.event-panel img {
  width: 100%;
}

.event-title {
	font-size: 18px;
    font-weight: 600;
}

.event-title-v {
	font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.event-time {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #aaaaaa;
}

.event-memo {
	margin-top: 15px;
	color: #666666;
}

.event-more {
	color: #aaaaaa;
	font-size: 14px;
	float: right;
}

.event-detail-panel {
	border-bottom: 1px solid #F4F6F9;
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
}

.event-detail-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #E9EAEC;
}

.event-detail-sub-title {
  font-size: 14px;
  background-color: #F4F6F9;
  padding: 15px;
}

.event-content {
	margin-top: 15px;
	color: #666666;
}

.event-content img {
  width: 100%;
  display: block;
  height: auto;
}

.thumbnail {
    border: 0px solid #ddd;
    margin-bottom: 0px;
}

.soft-panel {
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.soft-item {
  background-color: #fff;
  height: 85px;
}

.soft-img {
  height: 72px; 
  width: 72px;
  float: left;
}

.soft-info {
  float: left;
  margin-left: 10px;
}

.soft-name {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.soft-android {
  font-size: 13px;
}

.soft-ios {
  font-size: 13px;
}

.soft-memo {
  color: #747f8c;
  font-size: 12px;
}

.subfooter {
	width: 100%;
	color: #747f8c;
	text-align: center;
	padding: 30px 0;
}

.jiathis_modal_body {
  
}

.jiathis_modal_body img {
  width: auto;
}

.box-main {
  padding: 15px;
  width: 100%;
  text-align: left;
  text-indent: 24pt;
  background: #fff;
  line-height: 25px;
  margin: 15px 0px;
}

.box-blue {
  border-left: 4px solid #2196f3;
  color: #2196f3;
}

.box-green {
  border-left: 4px solid #4caf50;
  color: #4caf50;
}

.box-cyan {
  border: 2px solid #00bcd4;
  color: #00bcd4;
}

.box-lime {
  border: 2px solid #cddc39;
  color: #cddc39;
}

.box-brown {
  border: 2px solid #795548;
  color: #795548;
}

.box-amber {
  border: 2px solid #ffc107;
  color: #ffc107;
}

.about-panel {
  margin-bottom: 30px;
}

.about-panel p {
  text-indent: 23.05pt;
  line-height: 28px;
}

.about-content {
  text-indent: 23.05pt;
  margin: 5px;
}

.creed-panel {
  background: #fff;
  padding: 30px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
